:root {
  /* sm Button */
  --sm-width: 80px;
  --sm-height: 40px;
  --sm-backgroundColor: #0075ff;
  --sm-color: #ffffff;
  --sm-borderRadius: 5px;
  --sm-border: none;
  --sm-textAlign: center;
  --sm-fontWeight: 500;
  --sm-display: flex;
  --sm-lineHeight: 1.5;
  --sm-alignItems: center;
  --sm-fontSize: 14px;
  --sm-margin: 5px;
  --sm-justifyContent: center;
  --sm-padding: 10px;

  /* Es Button */
  --xs-width: 60px;
  --xs-height: 30px;
  --xs-backgroundColor: #28a745;
  --xs-color: #ffffff;
  --xs-borderRadius: 5px;
  --xs-border: none;
  --xs-textAlign: center;
  --xs-fontWeight: 500;
  --xs-display: flex;
  --xs-lineHeight: 1.5;
  --xs-alignItems: center;
  --xs-fontSize: 12px;
  --xs-margin: 5px;
  --xs-justifyContent: center;
  --xs-padding: 8px;

  /* Lg Button */
  --md-width: 100px;
  --md-height: 40px;
  --md-backgroundColor: yellow;
  --md-color: #ffffff;
  --md-borderRadius: 5px;
  --md-border: none;
  --md-textAlign: center;
  --md-fontWeight: 500;
  --md-display: flex;
  --md-lineHeight: 1.5;
  --md-alignItems: center;
  --md-fontSize: 14px;
  --md-margin: 5px;
  --md-justifyContent: center;
  --md-padding: 10px;

  /* Lg Button */
  --lg-width: 120px;
  --lg-height: 50px;
  --lg-backgroundColor: #ff5722;
  --lg-color: #ffffff;
  --lg-borderRadius: 5px;
  --lg-border: none;
  --lg-textAlign: center;
  --lg-fontWeight: 500;
  --lg-display: flex;
  --lg-lineHeight: 1.5;
  --lg-alignItems: center;
  --lg-fontSize: 16px;
  --lg-margin: 5px;
  --lg-justifyContent: center;
  --lg-padding: 12px;
}
