.layout {
  height: 10px;
}

.input[type="checkbox"] {
  appearance: none;
  border: 1px solid #025497 !important;
  background-color: white;
  cursor: pointer;
  position: relative;
}

.input[type="checkbox"]:checked {
  background-color: #025497;
  border: 1px solid #025497;
}

.input[type="checkbox"]:checked::before {
  content: "V";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sm {
  width: var(--sm-check-width);
  height: var(--sm-check-height);
  background-color: var(--sm-backgroundColor);
  color: var(--sm-color);
  border-radius: var(--sm-borderRadius);
  border: var(--sm-border);
  line-height: var(--sm-lineHeight);
  font-size: var(--sm-fontSize);
  margin: var(--sm-margin);
}

.xs {
  width: var(--xs-check-width);
  height: var(--xs-check-height);
  background-color: var(--xs-backgroundColor);
  color: var(--xs-color);
  border-radius: var(--xs-borderRadius);
  border: var(--xs-border);
  line-height: var(--xs-lineHeight);
  font-size: var(--xs-fontSize);
  margin: var(--xs-margin);
}

.xs > input[type="checkbox"]:checked::before {
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
}

.md {
  width: var(--md-check-width);
  height: var(--md-check-height);
  background-color: var(--md-backgroundColor);
  color: var(--md-color);
  border-radius: var(--md-borderRadius);
  border: var(--md-border);
  line-height: var(--md-lineHeight);
  font-size: var(--md-fontSize);
  margin: var(--md-margin);
}

.lg {
  width: var(--lg-check-width);
  height: var(--lg-check-height);
  background-color: var(--lg-backgroundColor);
  background-color: var(--lg-backgroundColor);
  color: var(--lg-color);
  border-radius: var(--lg-borderRadius);
  border: var(--lg-border);
  line-height: var(--lg-lineHeight);
  font-size: var(--lg-fontSize);
  margin: var(--lg-margin);
}
